body{
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

* {
    margin: 0;
    padding: 0;
}

.col-12{
    margin: 0px 200px;
}


.nav-inicio{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

.navdiv{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
}

.navdiv ul{
    list-style: none;
    display: flex;
}

.navdiv ul li{
    list-style: none;
}

.navdiv ul li a{
    text-decoration: none;
    color: #2272ED;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 20px;
}

.navdiv ul li a:hover{
    background-color: #f7f7f7;
    border-radius: 20px;
    transition: 150ms;
}

.navdiv ul li a:active, .activo{
    background-color: #ebebeb;
    border-radius: 20px;
}

.main-inicio{
    display: flex;
    justify-content: center;
}

.seccion-inicio{
    background-color: #F3F3F3;
    height: 520px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
}

.seccion-inicio div ul{
    list-style: none;
    color: #5E5E5E;
    line-height: 4;
    font-size: 23px;
}

.datos-inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.datos-inicio img{
    border-radius: 20px;
    border: #2272ED 3px solid;
}

.titulo{
    display: flex;
    justify-content: center;
}

.titulo h1{
    font-size: 40px;
    color: #2272ED;
    font-weight: 600;
}

.seccion-propuesta{
    background-color: #F3F3F3;
    height: 520px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
}

.seccion-propuesta h1 {
    text-align: center;
    color: #2272ED;
    font-size: 40px;
    font-weight: 600;
}

.seccion-propuesta p {
    color: #484848;
    font-size: 20px;
    display: flex;
    
}

.imagen-propuesta {
    width: 1px;
    height: 300px;
}

footer{
    background-color: #091c38;
    height: 80px;
    width: 100%;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    font-size: 15px;
}

footer div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}